/* Your CSS styles here */
header {
  display: none;
}

body {
  font-family: Arial, sans-serif;
}

/* Additional CSS rules */
.custom-line {
  background-color: #2d3554;
  width: 75%;
  margin: 0 auto;
}

.emoji-link {
  font-size: 24px;
}

.emoji-envelope {
  font-size: 24px; /* Adjust the size as needed */
  /* Add any other custom styles for the envelope emoji */
}
