/* Your CSS styles here */
header {
  display: none;
}

body {
  font-family: Arial, sans-serif;
  margin: 0; /* Remove default body margin */
  padding: 0; /* Remove default body padding */
  background-color: lightgray; /* Set the background color to light gray */
}

/* Additional CSS rules */
.custom-line {
    background-color: #2d3554; /* Your desired background color */
    background-color: rgba(45, 53, 84, 0.5); /* Fallback color */
    width: 75%;
    margin: 0 auto;
}

.emoji-link {
  font-size: 24px; /* Adjust the size as needed */
  /* Add any other custom styles */
}

.your-div {
  margin-bottom: 20px; /* Adjust the value to control the amount of space */
}
